<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnu.bbs.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hnu.bbs.entity.Comment">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="commentVO" type="com.hnu.bbs.entity.vo.CommentVO">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="post_id" property="postId" />
        <result column="username" property="username" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, user_id, post_id, create_time, modify_time
    </sql>

    <select id="getCommentsByPostID" resultMap="commentVO">
        select bbs_comment.*,bbs_user.username
        from bbs_comment
        join bbs_user on bbs_user.id = bbs_comment.user_id
        where post_id = #{postId}
        order by create_time desc
    </select>

</mapper>
